<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ImplicitObjectsJsp</servlet-name>
        <jsp-file>/implicitobjects.jsp</jsp-file>
        <init-param>
            <param-name>webxmlparam</param-name>
            <param-value>This is set in the web.xml file</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImplicitObjectsJsp</servlet-name>
        <url-pattern>/implicitobjects.jsp</url-pattern>
    </servlet-mapping>
</web-app>
